.customButton {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border: none;
  transition: all 0.3s ease;
}

.customButton:active {
  transform: scale(0.95);
}
