.customButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  &:active .icon,
  &:active .text {
    transform: scale(0.9);
  }
  &:focus-visible {
    outline: 2px solid var(--btn-primary);
  }
}

.icon {
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.text {
  text-align: center;
  transition: all 0.2s ease;
}

.menuText {
  flex: 1;
}

/* Color classes */
.primaryColor {
  background: var(--btn-primary);
  &:is(:hover, :active) {
    background: var(--btn-primary-hover) !important;
  }
}

.secondaryColor {
  background: var(--btn-secondary) !important;
  &:is(:hover, :active) {
    background: var(--btn-secondary-hover) !important;
  }
}

.transparent {
  background: none !important;
  padding: 0 !important;
}

@container (max-width: 400px) {
  .customButton {
    font-size: 0.9em;
  }
}
