/* Row */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 45vw;
}

/* Stats */
.statsTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  border-bottom: 3px solid var(--bg-card);
  width: 43.5vw;
  padding: 0.5rem 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.statsBottom {
  display: flex;
  align-items: end;
  height: 2.5rem;
  justify-content: center;
  color: var(--text-color);
}

/* Button */
.btnExitRestart {
  background: none !important;
  color: var(--moves);
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btnExitRestart:hover {
  background: none !important;
  color: var(--moves);
  transform: scale(1.05);
  --bs-btn-hover-border-color: transparent;
}

.btnExitRestart:active {
  background: none !important;
  color: var(--moves) !important;
  --bs-btn-active-border-color: transparent;
}

@media (max-width: 1200px) {
  .row {
    width: 65vw;
  }
  .statsTop {
    width: 63vw;
  }
}

@media (max-width: 990px) {
  .row {
    width: 75vw;
  }
  .statsTop {
    width: 72vw;
  }
}

@media (max-width: 770px) {
  .row {
    width: 80vw;
  }
  .statsTop {
    width: 76vw;
  }
}

@media (max-width: 550px) {
  .row {
    width: 90vw;
  }
  .statsTop {
    width: 85vw;
  }
}

@media (max-width: 425px) {
  .row {
    width: 95vw;
  }
  .statsTop {
    width: 90vw;
  }
}

@media (max-width: 350px) {
  .row {
    width: 100vw;
  }
  .statsTop {
    width: 93vw;
  }
}
