/* Row */
.row {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: min(45vw, 800px);
}

/* Stats */
.statsTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  color: var(--text-color);
  border-bottom: 2px solid var(--bg-card);
  width: calc(min(45vw, 800px) - clamp(1rem, 0.75rem + 0.5vw, 1.5rem));
  height: 3rem;
  transition: border-color 0.3s ease;
}

.statsTopSuccess {
  border-bottom: 1px solid var(--feedback-correct);
}

.statsTopError {
  border-bottom: 1px solid var(--feedback-wrong);
}

.statsLeft {
  display: flex;
  gap: 1.5rem;
}

.statsRight {
  display: flex;
  gap: 1.5rem;
}

.cardsMap {
  padding: 0 clamp(0.3rem, 0.25rem + 0.25vw, 0.5rem);
}

/* Button */
.btnExitRestart {
  background: none !important;
  color: var(--moves);
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btnExitRestart:hover {
  background: none !important;
  color: var(--moves);
  transform: scale(1.05);
  --bs-btn-hover-border-color: transparent;
}

.btnExitRestart:active {
  background: none !important;
  color: var(--moves) !important;
  --bs-btn-active-border-color: transparent;
}

@media (max-width: 990px) {
  .row {
    width: min(70vw, 800px);
  }
  .statsTop {
    width: calc(min(70vw, 800px) - clamp(1rem, 0.75rem + 0.5vw, 1.5rem));
  }
}

@media (max-width: 550px) {
  .row {
    width: min(95vw, 800px);
  }
  .statsTop {
    width: calc(min(95vw, 800px) - clamp(1rem, 0.75rem + 0.5vw, 1.5rem));
  }
}
