.cardWrapper {
  position: relative;
  perspective: 1000px;
}

.card {
  aspect-ratio: 1/1;
  width: 100%;
  background: var(--bg-card);
  border-radius: 10px;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backface-visibility: hidden;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Back face */
.back {
  background-image: url('@/assets/img/card-back.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Matched card outline */
.matched {
  outline: var(--outline-card-matched);
}
