.cardWrapper {
  perspective: 1200px;
  transform-style: preserve-3d;
  will-change: transform, opacity;
  transform-origin: center center;
}

.card {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  background: var(--bg-card);
  border-radius: 10px;
  cursor: pointer;
  transform-style: preserve-3d;
  will-change: transform, opacity;
  transform-origin: center center;
  transition: outline 0.1s ease-out 0.1s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transform-origin: center center;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transform: rotateY(180deg);
}

/* Back face */
.back {
  background-image: url('@/assets/img/card-back.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.matched {
  outline: var(--outline-card-matched);
}

.active {
  outline: var(--outline-card-active);
}
