/* Row */
.row {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100dvh;
  width: min(60vw, 800px);
}

/* Stats */
.statsTop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  color: var(--text-color);
  border-bottom: 2px solid var(--bg-card);
  width: calc(min(60vw, 800px) - clamp(1rem, 0.75rem + 0.5vw, 1.5rem));
}

.feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.statsTopSuccess {
  border-bottom: 1px solid var(--feedback-correct);
}

.statsTopError {
  border-bottom: 1px solid var(--feedback-wrong);
}

.statsLeft {
  display: flex;
  gap: 3rem;
}

.statsRight {
  display: flex;
  gap: 1rem;
}

/* Button */
.btnExitRestart {
  cursor: pointer;
  background-color: var(--btn-secondary);
  color: var(--moves);
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.btnExitRestart:hover {
  transform: scale(1.05);
}

.btnExitRestart:active {
  transform: scale(0.95);
}

@media (max-width: 990px) {
  .row {
    width: min(75vw, 800px);
  }
  .statsTop {
    width: calc(min(75vw, 800px) - clamp(1rem, 0.75rem + 0.5vw, 1.5rem));
  }
}

@media (max-width: 550px) {
  .row {
    width: min(100vw, 800px);
  }
  .statsTop {
    width: calc(min(98vw, 800px) - clamp(1rem, 0.75rem + 0.5vw, 1.5rem));
  }
}
