.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  color: var(--feedback-correct);
  outline: var(--outline-card-matched);
  border-radius: 10px;
  font-size: 2rem;
}

.error {
  color: var(--feedback-wrong);
  outline: var(--outline-card-wrong);
  border-radius: 10px;
  font-size: 2rem;
}
