.success {
  color: var(--feedback-correct);
  outline: var(--outline-card-matched);
  border-radius: 10px;
  font-size: 2.25rem;
}

.error {
  color: var(--feedback-wrong);
  outline: var(--outline-card-wrong);
  border-radius: 10px;
  font-size: 2.25rem;
}

@media (max-width: 550px) {
  .success {
    font-size: 1.8rem;
  }

  .error {
    font-size: 1.8rem;
  }
}
