.cardWrapper {
  perspective: 1200px;
}

.card {
  aspect-ratio: 1/1;
  background: var(--bg-tertiary);
  border-radius: var(--border-radius-primary);
  cursor: pointer;
  position: relative;
  transform-origin: center center;
  transform-style: preserve-3d;
  transition: outline 0.1s ease-out 0.1s;
  will-change: transform, opacity;
  width: 100%;
  &:focus-visible {
    outline: 2px solid var(--btn-primary);
  }
  &:has(.matched) {
    outline: var(--outline-card-matched);
  }
}

.back {
  background-image: url('/img/card-back.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.front {
  background: var(--bg-primary);
  border-radius: var(--border-radius-primary);
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  & img {
    height: 100%;
    object-fit: cover;
    transform: rotateY(180deg);
    width: 100%;
  }
}

.matched {
  outline: var(--outline-card-matched);
}

.active {
  outline: var(--outline-card-active);
}

@container (max-width: 350px) {
  .card {
    border-radius: var(--border-radius-primary);
  }
}
