.stats {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  line-height: 0;
  width: 0;
  color: var(--text-count-color);
}

.count {
  font-size: 0.9rem;
}

.scoreIcon {
  color: var(--color-star-icon);
}

.grayedOut {
  color: var(--color-star-icon-gray);
}

.success {
  color: var(--feedback-correct);
}

.error {
  color: var(--feedback-wrong);
}
