.modal {
  :global(.modal-content) {
    background: var(--bg-modal-content);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
  }
  :global(.modal-header) {
    font-family: 'Fredoka';
    color: var(--text-color);
    letter-spacing: 1px;
  }
  :global(.modal-footer) {
    color: var(--text-color);
    --bs-modal-footer-gap: 0;
  }
  :global(.h4) {
    font-size: 1.5rem;
  }
}

.accountInfo {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 0.25rem;
}

.btnCategoryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btnCategorySelect {
  border: var(--btn-catagory-border);
  height: 3rem;
  border-radius: 0;
}
.btnCategorySelect:hover,
.btnCategorySelect:active {
  border: var(--btn-catagory-border) !important;
}

.btnClose {
  border-radius: 0 0 10px 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnLeft {
  border-radius: 0 0 0 10px;
}
.btnLeft:hover,
.btnLeft:active {
  border: none !important;
}

.btnLogout {
  border-radius: 6px 6px 0 0;
}

.btnMain {
  width: 100%;
  height: 2rem;
}

.btnMenu {
  border-radius: 0;
}

.btnPassword {
  border-radius: 0 0 6px 6px;
}

.btnRight {
  border-radius: 0 0 10px 0;
}
.btnRight:hover,
.btnRight:active {
  border: none !important;
}

.btnRounded {
  cursor: pointer;
  color: var(--moves);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.btnUpload {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.clickableLabel {
  font-size: 0.9rem;
  cursor: pointer;
}

.commitDate {
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-size: 0.9em;
  color: var(--text-count-color);
}

.commitIcon {
  margin-right: 0.5rem;
}

.commitItem {
  padding: 0.8rem;
  border-bottom: 1px solid var(--input-border-color);
  border-radius: 0;
}

.commitList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.commitMessage a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.6;
  padding: 0.3rem 0;
  transition: all 0.2s ease;
}
.commitMessage a:hover {
  opacity: 1;
}

.commitStatus {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fileInputHidden {
  display: none;
}

.grayedOut {
  color: var(--color-star-icon-gray);
}

.instructionsModal {
  :global(.modal-content) {
    min-height: 50vh;
  }
}

.leaderboardAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 1rem 0;
  width: 100%;
}

.modalButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.modalButtons {
  gap: 1px;
}

.navItemCenter {
  border-radius: 0;
  border-inline: 1px solid var(--shadow-row);
}

.navItemLeft {
  border-radius: 10px 0 0 0;
  border-right: 1px solid var(--shadow-row);
}

.navItemMiddle {
  border-radius: 0;
  border-block: 1px solid var(--btn-secondary);
}

.navItemRight {
  border-radius: 0 10px 0 0;
  border-left: 1px solid var(--shadow-row);
}

.navItemLeft,
.navItemCenter,
.navItemRight {
  border: none;
  background-color: var(--btn-secondary);
  transition: all 0.3s ease;
}
.navItemLeft:hover,
.navItemCenter:hover,
.navItemRight:hover {
  background: var(--btn-secondary-hover);
}
.navItemLeft.active,
.navItemCenter.active,
.navItemRight.active {
  background: var(--modal-header-active);
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.15rem;
  font-size: 1em;
}

.profileImage {
  aspect-ratio: 1/1;
  width: 100%;
  background: transparent;
  border: 1px solid var(--btn-secondary);
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.profileImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 9rem;
  height: 100%;
}

.profileUsername {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 500;
}

.rank {
  font-weight: bold;
  font-size: 1rem;
}

.scoreIconStar {
  font-size: 0.9rem !important;
}

.scoreItem {
  display: flex;
  align-items: center;
}

.scoreRow {
  border-bottom: 1px solid var(--input-border-color);
  padding: 0.5rem 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreTab {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: var(--text-color);
}

.starIcon {
  color: var(--color-star-icon);
}

.success {
  color: var(--feedback-correct);
}

.underBorder {
  border-bottom: 1px solid var(--input-border-color);
}

.wrongPick {
  color: var(--feedback-wrong);
}

.input,
.formSelect {
  border-bottom: 1px solid var(--input-border-color);
  border-radius: 0;
}

.input {
  margin: 2rem 0;
}
.input::placeholder {
  color: var(--text-color);
  opacity: 0.6;
}

@media (max-width: 425px) {
  .instructionsModal :global(.modal-content) {
    height: 100%;
  }
  .navLink {
    font-size: 0.9em;
  }
  .scoreIconStar {
    font-size: 0.8rem !important;
  }
  .btnMain {
    font-size: 0.8rem;
  }
}

@media (max-width: 315px) {
  .navLink {
    gap: 0.1rem;
  }
  .scoreIconStar {
    font-size: 0.7rem !important;
  }
}
