@scope (.modal) {
  :global(.modal-content) {
    background: var(--bg-secondary);
    border-radius: var(--border-radius-primary);
    color: var(--text-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  :global(.modal-header) {
    color: var(--text-color);
  }
  :global(.modal-footer) {
    --bs-modal-footer-gap: 0;
    color: var(--text-color);
    border-top: 1px solid var(--border-secondary);
    display: flex;
    justify-content: space-between;
  }
  :global(.h4) {
    font-size: 1.5rem;
  }
}

.modalContent :global(.modal-content) {
  min-height: 45vh;
  @container (max-width: 400px) {
    height: 100%;
  }
}

.modalRow {
  min-height: 30vh;
  padding-block: 0.5rem;
}

.accountInfo {
  display: none;
  font-size: 0.8rem;
  opacity: 0.6;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-block: 1rem;
  max-width: 18rem;
  width: 100%;
}

.modalButtons {
  display: flex;
  margin-top: 1rem;
}

.modalButton {
  flex: 1;
  gap: 0.3rem;
}

.closeButtonSolo {
  border-radius: var(--border-radius-bottom);
}

.categoryDataContainer {
  margin-bottom: 2rem;
}

.btnCategoryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btnCategorySelect {
  border: var(--border-secondary);
  border-radius: var(--border-radius-secondary);
  height: 3.5rem;
  &:is(:hover, :active) {
    border: var(--border-secondary) !important;
  }
}

.btnClose {
  border-radius: var(--border-radius-bottom);
}

.btnLeft {
  border-radius: var(--border-radius-bottom-left);
  &:is(:hover, :active) {
    border: none !important;
  }
}

.btnLogout {
  border-radius: var(--border-radius-top);
}

.btnMain {
  font-size: 1em;
  height: 2.5rem;
  width: 100%;
}

.btnMenu {
  border-radius: var(--border-radius-secondary);
}

.btnPassword {
  border-radius: var(--border-radius-secondary);
}

.btnDelete {
  border-radius: var(--border-radius-bottom);
}

.btnRight {
  border-radius: var(--border-radius-bottom-right);
  &:is(:hover, :active) {
    border: none !important;
  }
}

.btnUpload {
  border-radius: var(--border-radius-bottom);
}

.clickableLabel {
  cursor: pointer;
  font-size: 0.9rem;
}

.commitDate {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  gap: 0.5rem;
  opacity: 0.8;
}

.commitIcon {
  margin-inline-end: 0.5rem;
}

.commitItem {
  border-bottom: var(--border-bottom-primary);
  border-radius: var(--border-radius-secondary);
  padding: 0.8rem;
}

.commitList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.commitMessage a {
  align-items: center;
  color: var(--text-color);
  display: flex;
  opacity: 0.6;
  padding-block: 0.3rem;
  text-decoration: none;
  transition: var(--transition-primary);
  &:hover {
    opacity: 1;
  }
}

.commitStatus {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fileInputHidden {
  display: none;
}

.grayedOut {
  color: var(--color-star-icon-gray);
}

.errorModal :global(.modal-content) {
  min-height: 30vh;
  @container (max-width: 400px) {
    height: 100%;
  }
}

.errorIcon {
  color: var(--feedback-wrong);
  font-size: 6rem !important;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.errorArrowIcon {
  color: var(--feedback-wrong);
}

.errorMessage {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  gap: 0.5rem;
  opacity: 0.8;
  padding: 1rem 0.5rem;
}

.leaderboardAvatar {
  border-radius: var(--border-radius-circle);
  height: 25px;
  object-fit: cover;
  width: 25px;
}

.navItemLeft,
.navItemCenter,
.navItemRight {
  background: var(--btn-secondary);
  transition: var(--transition-primary);
  &:hover {
    background: var(--btn-secondary-hover-active);
  }
  &.active {
    background: var(--btn-primary);
  }
}

.navItemCenter {
  border-inline: var(--border-secondary);
  border-radius: var(--border-radius-secondary);
}

.navItemLeft {
  border-radius: var(--border-radius-top-left);
  border-right: var(--border-secondary);
}

.navItemMiddle {
  border-block: var(--border-secondary);
  border-radius: var(--border-radius-secondary);
}

.navItemRight {
  border-left: var(--border-secondary);
  border-radius: var(--border-radius-top-right);
}

.navLink {
  align-items: center;
  display: flex;
  font-size: 0.95em;
  gap: 0.3rem;
  justify-content: center;
  @media (max-width: 425px) {
    font-size: 0.9em;
  }
}

.profileImageContainer {
  display: flex;
  flex-direction: column;
  max-width: 12rem;
  padding-inline: 1rem;
  width: 100%;
  @media (max-width: 390px) {
    max-width: 9rem;
    padding-inline: 0.5rem;
  }
}

.profileImage {
  aspect-ratio: 1/1;
  background: var(--bg-transparent);
  border: var(--border-secondary);
  border-radius: var(--border-radius-top);
  object-fit: cover;
}

.profileUsername {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.rank {
  font-size: 1rem;
}

.scoreIconStar {
  font-size: 0.9rem !important;
  @media (max-width: 425px) {
    font-size: 0.8rem !important;
  }
  @media (max-width: 315px) {
    font-size: 0.7rem !important;
  }
}

.scoreItem {
  align-items: center;
  display: flex;
  font-size: 1rem;
}

.scoreRow {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-bottom-primary);
  margin: 0 auto;
  padding-block: 0.5rem;
}

.scoreTab {
  align-items: center;
  display: flex;
  gap: 0.1rem;
}

.scoreboard {
  align-items: center;
  color: var(--text-color);
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  padding: 1rem;
}

.starIcon {
  color: var(--color-star-icon);
}

.success {
  color: var(--feedback-correct);
}

.underBorder {
  border-bottom: var(--border-bottom-primary);
}

.wrongPick {
  color: var(--feedback-wrong);
}

.input {
  border-bottom: var(--border-bottom-primary);
  border-radius: var(--border-radius-secondary);
  margin-block: 2rem;
  &::placeholder {
    color: var(--text-color);
    opacity: 0.6;
  }
}

.formSelect {
  background-color: var(--bg-primary);
  border-bottom: var(--border-bottom-primary);
  border-radius: var(--border-radius-secondary);
}

.bottomBorder {
  border-bottom: var(--border-bottom-primary);
  border-radius: var(--border-radius-secondary);
}

@media (max-width: 425px) {
  .btnMain {
    font-size: 0.8rem;
  }
}
