@scope (.modal) {
  :global(.modal-content) {
    background: var(--bg-secondary);
    color: var(--text-color);
    border-radius: var(--border-radius-primary);
  }
  :global(.modal-header) {
    font-family: 'Fredoka';
    color: var(--text-color);
    letter-spacing: 1px;
  }
  :global(.modal-footer) {
    color: var(--text-color);
    --bs-modal-footer-gap: 0;
  }
  :global(.h4) {
    font-size: 1.5rem;
  }
}

.instructionsModal :global(.modal-content),
.leaderboardModal :global(.modal-content) {
  min-height: 45vh;
  @container (max-width: 400px) {
    height: 100%;
  }
}

.modalRow {
  min-height: 30vh;
}

.accountInfo {
  display: none;
  font-size: 0.8rem;
  opacity: 0.6;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-block: 1rem;
  width: 100%;
  max-width: 18rem;
}

.modalButtons {
  display: flex;
  gap: 1px;
  margin-top: 1rem;
}

.modalButton {
  flex: 1;
  gap: 0.3rem;
}

.closeButtonSolo {
  border-radius: var(--border-radius-bottom);
}

.categoryDataContainer {
  margin-bottom: 2rem;
}

.btnCategoryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btnCategorySelect {
  border: var(--border-secondary);
  height: 3.5rem;
  border-radius: var(--border-radius-secondary);
  &:is(:hover, :active) {
    border: var(--border-secondary) !important;
  }
}

.btnClose {
  border-radius: var(--border-radius-bottom);
}

.btnLeft {
  border-radius: var(--border-radius-bottom-left);
  &:is(:hover, :active) {
    border: none !important;
  }
}

.btnLogout {
  border-radius: var(--border-radius-top);
}

.btnMain {
  width: 100%;
  height: 2.5rem;
  font-size: 1em;
}

.btnMenu {
  border-radius: var(--border-radius-secondary);
}

.btnPassword {
  border-radius: var(--border-radius-secondary);
}

.btnDelete {
  border-radius: var(--border-radius-bottom);
}

.btnRight {
  border-radius: var(--border-radius-bottom-right);
  &:is(:hover, :active) {
    border: none !important;
  }
}

.btnUpload {
  border-radius: var(--border-radius-bottom);
}

.clickableLabel {
  font-size: 0.9rem;
  cursor: pointer;
}

.commitDate {
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-size: 0.9em;
  color: var(--text-count-color);
}

.commitIcon {
  margin-inline-end: 0.5rem;
}

.commitItem {
  padding: 0.8rem;
  border-bottom: var(--border-bottom-primary);
  border-radius: var(--border-radius-secondary);
}

.commitList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.commitMessage a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.6;
  padding-block: 0.3rem;
  transition: var(--transition-primary);
  &:hover {
    opacity: 1;
  }
}

.commitStatus {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fileInputHidden {
  display: none;
}

.grayedOut {
  color: var(--color-star-icon-gray);
}

.errorModal :global(.modal-content) {
  min-height: 30vh;
  @container (max-width: 400px) {
    height: 100%;
  }
}

.errorIcon {
  font-size: 6rem !important;
  opacity: 0.8;
  color: var(--feedback-wrong);
  margin-bottom: 0.5rem;
}

.errorArrowIcon {
  color: var(--feedback-wrong);
}

.errorMessage {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8em;
  opacity: 0.8;
  padding: 1rem 0.5rem;
}

.leaderboardAvatar {
  width: 25px;
  height: 25px;
  border-radius: var(--border-radius-circle);
  object-fit: cover;
}

.navItemLeft,
.navItemCenter,
.navItemRight {
  background: var(--btn-secondary);
  transition: var(--transition-primary);
  &:hover {
    background: var(--btn-secondary-hover);
  }
  &.active {
    background: var(--btn-primary);
  }
}

.navItemCenter {
  border-radius: var(--border-radius-secondary);
  border-inline: var(--border-secondary);
}

.navItemLeft {
  border-radius: var(--border-radius-top-left);
  border-right: var(--border-secondary);
}

.navItemMiddle {
  border-radius: var(--border-radius-secondary);
  border-block: var(--border-secondary);
}

.navItemRight {
  border-radius: var(--border-radius-top-right);
  border-left: var(--border-secondary);
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.95em;
  @media (max-width: 425px) {
    font-size: 0.9em;
  }
}

.profileImageContainer {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  width: 100%;
  max-width: 12rem;
  @media (max-width: 390px) {
    padding-inline: 0.5rem;
    max-width: 9rem;
  }
}

.profileImage {
  aspect-ratio: 1/1;
  background: var(--bg-transparent);
  border: var(--border-secondary);
  border-radius: var(--border-radius-top);
  object-fit: cover;
}

.profileUsername {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 500;
}

.rank {
  font-weight: bold;
  font-size: 1rem;
}

.scoreIconStar {
  font-size: 0.9rem !important;
  @media (max-width: 425px) {
    font-size: 0.8rem !important;
  }
  @media (max-width: 315px) {
    font-size: 0.7rem !important;
  }
}

.scoreItem {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.scoreRow {
  border-bottom: var(--border-bottom-primary);
  padding-block: 0.5rem;
  margin: 0 auto;
}

.scoreTab {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: var(--text-color);
  padding-inline: 1rem;
}

.starIcon {
  color: var(--color-star-icon);
}

.success {
  color: var(--feedback-correct);
}

.underBorder {
  border-bottom: var(--border-bottom-primary);
}

.wrongPick {
  color: var(--feedback-wrong);
}

.input {
  border-bottom: var(--border-bottom-primary);
  border-radius: var(--border-radius-secondary);
}

.formSelect {
  border-bottom: var(--border-bottom-primary);
  background-color: var(--bg-primary);
  border-radius: var(--border-radius-secondary);
}

.input {
  margin-block: 2rem;
  &::placeholder {
    color: var(--text-color);
    opacity: 0.6;
  }
}

.bottomBorder {
  border-bottom: var(--border-bottom-primary);
  border-radius: var(--border-radius-secondary);
}

@media (max-width: 425px) {
  .btnMain {
    font-size: 0.8rem;
  }
}
