.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  container-type: inline-size;
}

.hidden {
  display: none;
}

.loader {
  width: 80px;
  aspect-ratio: 1;
  animation:
    l3-1 1s infinite linear,
    l3-2 1s infinite steps(1) -0.75s;
  transform-style: preserve-3d;
  position: relative;
  &:focus-visible {
    outline: 2px solid var(--btn-primary);
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  &::before {
    background: var(--bg-card);
  }
  &::after {
    background: var(--bg-card);
    background-image: url('/img/card-back.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
  }
}

@keyframes l3-1 {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  50% {
    transform: perspective(1000px) rotateY(180deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
@keyframes l3-2 {
  0%,
  50%,
  100% {
    background: var(--bg-card);
    border-radius: 10px;
  }
}

.spinnerMessage {
  margin-top: 1rem;
  font-size: 0.8rem;
  opacity: 0.6;
}

.loadership_JWZDT {
  display: inline-flex;
  position: relative;
  width: 53px;
  height: 8px;
  & div {
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: currentColor;
    top: 0px;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  & div:nth-child(1) {
    left: 0px;
    animation: loadership_JWZDT_scale_up 0.4s infinite;
  }
  & div:nth-child(2) {
    left: 0px;
    animation: loadership_JWZDT_translate 0.4s infinite;
  }
  & div:nth-child(3) {
    left: 15px;
    animation: loadership_JWZDT_translate 0.4s infinite;
  }
  & div:nth-child(4) {
    left: 30px;
    animation: loadership_JWZDT_translate 0.4s infinite;
  }
  & div:nth-child(5) {
    left: 45px;
    animation: loadership_JWZDT_scale_down 0.4s infinite;
  }
}
@keyframes loadership_JWZDT_scale_up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loadership_JWZDT_scale_down {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loadership_JWZDT_translate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(15px, 0);
  }
}

@container (max-width: 400px) {
  .loader {
    width: 70px;
  }
  .spinnerMessage {
    font-size: 0.7rem;
  }
}
