.instructionsContent {
  animation: fadeIn 0.5s ease-in-out;
  padding: 1rem;
  min-height: 45vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .tabContentContainer {
    padding: 1rem !important;
    max-height: 50vh;
  }
}
