.selectContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selectArrow {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  translate: 0 -50%;
  border-left: 8px solid var(--bg-transparent);
  border-right: 8px solid var(--bg-transparent);
  border-top: 8px solid var(--bg-tertiary);
  pointer-events: none;
}
