.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameTitle {
  font-family: 'Fredoka One', cursive;
  font-size: 4rem;
  color: var(--text-color-highlight);
  text-shadow: var(--text-title-shadow);
}

.smallButtonsDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 11rem;
}

/* Button styles */
.btnStart {
  background: var(--btn-primary);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  width: 11rem;
  font-size: 1.5rem;
}

.btnStart:hover {
  background: var(--btn-primary-hover);
  color: var(--text-color);
}

.btnStart:active {
  background: var(--btn-primary-hover) !important;
  color: var(--text-color);
}

.btnGuide {
  background: var(--btn-secondary);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  width: 11rem;
  font-size: 1.5rem;
}

.btnGuide:hover {
  background: var(--btn-secondary-hover);
  color: var(--text-color);
}

.btnGuide:active {
  background: var(--btn-secondary-hover) !important;
  color: var(--text-color);
}

.btnUpdates {
  display: flex;
  align-items: center;
  background: var(--btn-secondary);
  color: var(--text-color);
  border: none;
  width: 3.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

.btnUpdates:hover {
  background: var(--btn-secondary-hover);
  color: var(--text-color);
}

.btnUpdates:active {
  background: var(--btn-secondary-hover) !important;
  color: var(--text-color) !important;
}

@media (max-width: 425px) {
  .gameTitle {
    font-size: 3.5rem;
  }
}
