.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameTitle {
  font-family: 'Fredoka';
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: var(--text-color-highlight);
}

.smallButtonsDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 12rem;
}

/* Button styles */
.btnStart,
.btnGuide {
  border: none;
  border-radius: 10px;
  width: 12rem;
  font-size: 1.4rem;
}

.btnStart {
  background: var(--btn-primary);
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.btnStart:hover {
  background: var(--btn-primary-hover);
  color: var(--text-color);
}

.btnStart:active {
  background: var(--btn-primary-hover) !important;
  color: var(--text-color);
}

.btnGuide {
  background: var(--btn-secondary);
  color: var(--text-color);
}

.btnGuide:hover {
  background: var(--btn-secondary-hover);
  color: var(--text-color);
}

.btnGuide:active {
  background: var(--btn-secondary-hover) !important;
  color: var(--text-color);
}

.btnUpdates {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-secondary);
  color: var(--text-color);
  border: none;
  width: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

.btnUpdates:hover {
  background: var(--btn-secondary-hover);
  color: var(--text-color);
}

.btnUpdates:active {
  background: var(--btn-secondary-hover) !important;
  color: var(--text-color) !important;
}

@media (max-width: 425px) {
  .smallButtonsDiv {
    width: 10rem;
  }

  .gameTitle {
    font-size: 3.5rem;
  }

  .btnStart,
  .btnGuide {
    width: 10rem;
    font-size: 1.2rem;
  }

  .btnUpdates {
    width: 2.5rem;
    font-size: 1.3rem;
  }
}
