@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@400;500&display=swap');

/* Bootstrap overrides */
:root {
  --bs-body-font-weigh: none;
  --bs-primary-rgb: none;
  --bs-secondary-rgb: none;
  --bs-emphasis-color: #ff8c00;
  --bs-link-color: none;
  --bs-link-hover-color: none;
  --bs-border-color: none;
  --bs-border-width: 0;
  --bs-body-color: none;
  --bs-body-bg: none;
}

/* Color variables */
:root {
  --text-color: #fafafa;
  --text-color-highlight: #ff0077;
  --bg-primary: #0d1117;
  --bg-card: #041b4b;
  --bg-modal: #242424;
  --bg-modal-content: #181818;
  --btn-primary: #001e5f;
  --btn-primary-hover: #00194e;
  --btn-secondary: #2c2c2c;
  --btn-secondary-hover: #242424;
  --btn-secondary-active: #242424;
  --feedback-wrong: #c9302c;
  --feedback-correct: #00c500;
  --color-star-icon: #ffd700;
  --color-clock-icon: #fdc200;
  --color-star-icon-gray: #282e35;
  --moves: #fdc200;
  --shadow-row: #0a0a0a;
}

/* Style variables */
:root {
  --shadow-card-matched: 0 0 0 2px #00c500;
  --shadow-card-wrong: 0 0 0 2px #c9302c;
  --text-spacing: 0.1rem;
}

body {
  font-family: 'Fredoka', sans-serif;
  background: var(--bg-primary);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: var(--text-spacing);
  font-size: 1.07rem;
}

@media (max-width: 425px) {
  body {
    font-size: 0.9rem;
  }
}
