body {
  font-family: 'Fredoka';
  background: var(--bg-primary);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  letter-spacing: var(--text-spacing);
  font-size: 1.05rem;
  font-weight: 400;
}

.btn {
  --bs-btn-disabled-bg: var(--btn-secondary);
  --bs-btn-disabled-border-color: transparent;
}

.btn:hover {
  background-color: var(--btn-secondary);
  border-color: var(--btn-secondary);
}

.form-select {
  background-color: var(--bg-secondary);
  border: none;
}

select {
  background-color: var(--bg-secondary);
  border: none;
}

select:focus {
  box-shadow: none !important;
}

option {
  background: var(--bg-modal-content);
}

@media (max-width: 425px) {
  body {
    font-size: 0.9rem;
  }
}

@media (max-width: 315px) {
  body {
    font-size: 0.8rem;
  }
}
