/* Bootstrap overrides */
:root {
  --bs-body-font-weigh: none;
  --bs-primary-rgb: none;
  --bs-secondary-rgb: none;
  --bs-emphasis-color: #101729;
  --bs-link-color: none;
  --bs-link-hover-color: none;
  --bs-border-color: none;
  --bs-border-width: 0;
  --bs-body-color: none;
  --bs-body-bg: none;
}

/* Color variables */
:root {
  --text-color: #f4f4f9;
  --text-count-color: #c77dff;
  --text-color-highlight: #ff2e79;
  --bg-primary: #101729;
  --bg-card: #476590;
  --bg-modal: #242424;
  --bg-modal-content: #181818;
  --btn-primary: #ff2e79;
  --btn-primary-hover: #ff5c96;
  --btn-secondary: #374e6e;
  --btn-secondary-hover: #4a678c;
  --btn-secondary-active: #4a678c;
  --feedback-wrong: #c9302c;
  --feedback-correct: #00c500;
  --color-star-icon: #ffd700;
  --color-clock-icon: #fdc200;
  --color-star-icon-gray: #282e35;
  --moves: #f4f4f9;
  --shadow-row: #0a0a0a;
}

/* Style variables */
:root {
  --outline-card-matched: 2px solid #00c500;
  --outline-card-wrong: 1px solid #c9302c;
  --text-spacing: 0.05rem;
}

body {
  font-family: 'Fredoka';
  background: var(--bg-primary);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  letter-spacing: var(--text-spacing);
  font-size: 1.05rem;
  font-weight: 400;
}

@media (max-width: 425px) {
  body {
    font-size: 0.9rem;
  }
}
